@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Climate+Crisis&family=Julius+Sans+One&family=Rampart+One&family=Rubik+Vinyl&display=swap');

:root {
  --font-family-rampart-one: 'Rampart One', cursive;
  --font-family-climate-crisis: 'Climate Crisis', cursive;
  --font-family-julius-sans-one: ' Julius Sans One', sans-serif;
  --font-weight-normal: 100;
  --font-weight-bold: 700;
}
